<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dynamicfeature">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="com.example.dynamicfeature.FeatureActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.dynamicfeature"
            tools:node="mergeOnlyAttributes"
            tools:replace="android:exported, android:launchMode, android:taskAffinity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>